@font-face{
    font-family: "7barSp";
    src: local("7barSp"),
    url("lib/7barsp.ttf");
}
@keyframes show {
    0% {
        left:0.3em;
        opacity:0;
    }
    75% {
        left:0.3em;
        opacity:0;
    }
    100% {
        left:0;
        opacity:1;
    }
}
html{
    position: relative;
    animation: show 4s;
}
body{
    font-family: Consolas, sans-serif;
    margin: 0;
    background-color: #000;
    color: #6cf;
}

.label-big{
    font-size: 1rem;
}
.label-small{
    font-size: 0.5rem;
}
.digit-big{
    font-size: 5.916666666666667rem;
}
.digit-small{
    font-size: 1.766666666666667rem;
}
.right-align{
    float: right;
}
.digit-big, .digit-small{
    font-family: "7barSp", Consolas, sans-serif;
}
.column-separator{
    width:0.2704225352111152549097402167578rem;
    opacity:0;
}
table{
    margin:2.3333333333333333333333333333333rem 0 0 1.6rem;
}